<!--
    * Vista de inicio de sesión
    * Desarrollado por: Roberto Chajin Ortiz y Ricardo Suarez Vera - Visión Ingeniería S.A.S
    * Revisión No.: 1.0 
-->
<ion-view class="login">
    <ion-content class="padding">
        <img src="img/appIcon.png" class="appIconLog">
        
        <div class="headerLogin">Iniciar Sesión </div>
        
        <form ng-submit="iniciarSesion()" name="frmLogin" novalidate="" class="padding">
            
            <label>Usuario</label>
            
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" ng-model="usuario.nombreUsuario" placeholder="Nombre de Usuario" required>
            </label>
            
            <label>Contraseña</label>
            
            <label class="item item-input">
                <i class="icon ion-lock-combination placeholder-icon"></i>
                <input type="password" ng-model="usuario.clave" placeholder="Contraseña" required ng-minlength="1">
            </label>
            <button type="submit" id="btnLogin" class="button button-fdlm button-block" ng-disabled="frmLogin.$error.required">
                <i class="icon ion-unlocked"></i> Iniciar Sesión
            </button>
        </form>
    </ion-content>
</ion-view>