<!--
    * Aglomerador de pestañas de navegación
    * Desarrollado por: Roberto Chajin Ortiz y Ricardo Suarez Vera - Visión Ingeniería S.A.S
    * Revisión No.: 1.0
-->
<ion-tabs class="tabs-icon-top tabs-color-active-fdlm cdsTabs">

    <!-- Pestaña de Registro de pagos -->
    <ion-tab title="Registrar Pago" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" class="regPago" href="#/tab/pagos">
        <ion-nav-view name="tab-pagos"></ion-nav-view>
    </ion-tab>

    <!-- Pestaña de Reporte de pagos -->
    <ion-tab title="Reporte de Pagos" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" class="reportPagos" href="#/tab/reporte">
        <ion-nav-view name="tab-reporte"></ion-nav-view>
    </ion-tab>

    <!-- Pestaña de Reimprimir factura -->
    <ion-tab title="Reimprimir Orden" icon-off="ion-ios-printer-outline" icon-on="ion-ios-printer" class="reimpFactura" href="#/tab/reimprimir">
        <ion-nav-view name="tab-reimprimir"></ion-nav-view>
    </ion-tab>    


</ion-tabs>
